body {
    font-family: sans-serif;
    background-image: url(https://media1.giphy.com/media/12W5Sg2koWYnwA/giphy.gif);
}

h1 {
    color: rgb(16, 180, 16);
    font-size: 50px;
    text-align: center;
    background-color: green;
    border: 5px solid lawngreen;
}
p {
    
    background-color: green;
    border: 5px solid lawngreen;
    color: rgb(152, 247, 57);
}
table{
    background-color: rgb(36, 104, 70);
    border: 2px solid rgb(14, 219, 76);
    color: lawngreen;
}

img{
  width: 500px; 
  border:10px double rgb(163, 44, 179); 
  background-color: blueviolet;
  
}
